In [77]:
import matplotlib.pyplot as plt
%matplotlib inline 
import keras
from keras.layers import  Dense
from keras.models import Sequential 
import numpy as np
import pandas as pd

In [78]:
from PIL import Image

In [79]:
import os
os.getcwd()

'E:\\Projects\\Cats and Dogs\\train\\cats'

In [80]:
os.chdir('E:\\Projects\\Cats and Dogs\\train\\cats')
os.getcwd()

'E:\\Projects\\Cats and Dogs\\train\\cats'

In [81]:
cat_img = os.listdir()

In [82]:
x = []
for i in cat_img:
    img = Image.open(i)
    img = img.resize((50,50))
    img = np.array(img)
    x.append(img)

In [83]:
os.chdir('E:\\Projects\\Cats and Dogs\\train\\dogs')

In [84]:
dogs = os.listdir()

In [85]:
y = []

for i in dogs:
    img = Image.open(i)
    img = img.resize((50,50))
    img = np.array(img)
    y.append(img)

In [86]:
x_train = x+y

In [87]:
len(x_train)

24997

In [88]:
label = []
for i in range(0,len(x)):
    label.append(0)
for j in range(0,len(y)):
    label.append(1)

len(label)

24997

In [89]:
from keras.utils.np_utils import to_categorical
label = to_categorical(label)
label

array([[ 1.,  0.],
       [ 1.,  0.],
       [ 1.,  0.],
       ...,
       [ 0.,  1.],
       [ 0.,  1.],
       [ 0.,  1.]])

In [90]:
label.shape

(24997, 2)

In [132]:
os.chdir('E:\\Projects\\Cats and Dogs\\New folder\\test')
os.getcwd()

'E:\\Projects\\Cats and Dogs\\New folder\\test'

In [133]:
t_images = os.listdir()

In [134]:
test=[]
for i in t_images:
    img = Image.open(i)
    img = img.resize((50,50))
    img = np.array(img)
    test.append(img)

In [94]:
### Model Building

In [95]:
from keras.layers import Flatten,Dense,Conv2D,Dropout,MaxPool2D,BatchNormalization
from keras.regularizers import l1_l2,l1
from keras.constraints import max_norm

In [96]:
model = Sequential()
model.add(Conv2D(16,(3,3),strides=(1,1),input_shape = (50,50,3),padding='same',activation='relu'))
model.add(MaxPool2D((2,2),strides=(1,1),padding='valid'))
model.add(Flatten())
model.add(Dropout(0.4))
model.add(BatchNormalization())
model.add(Dense(120,activation='relu',kernel_constraint='max_norm'))
model.add(Dense(2,activation='softmax'))
model.compile(loss = 'binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [97]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_7 (Conv2D)            (None, 50, 50, 16)        448
_________________________________________________________________
max_pooling2d_7 (MaxPooling2 (None, 49, 49, 16)        0
_________________________________________________________________
flatten_7 (Flatten)          (None, 38416)             0
_________________________________________________________________
dropout_7 (Dropout)          (None, 38416)             0
_________________________________________________________________
batch_normalization_7 (Batch (None, 38416)             153664
_________________________________________________________________
dense_12 (Dense)             (None, 120)               4610040
_________________________________________________________________
dense_13 (Dense)             (None, 2)                 242
=================================================================
Total params: 4,764,394
Trainable params: 4,687,562
Non-trainable params: 76,832
_________________________________________________________________

In [98]:
x_train = np.array(x_train)

In [99]:
x_train.shape

(24997, 50, 50, 3)

In [100]:
model.fit(x_train,label,epochs=2,batch_size=64)

Epoch 1/2
24997/24997 [==============================] - 181s - loss: 0.7738 - acc: 0.6833
Epoch 2/2
24997/24997 [==============================] - 177s - loss: 0.5175 - acc: 0.7445

In [135]:
test = np.array(test)

In [165]:
pred = model.predict_classes(test)

12500/12500 [==============================] - 33s

In [166]:
len(pred)

12500

In [167]:
pred = pd.DataFrame(pred)

In [168]:
c = []
for i in range(1,12501):
    c.append(i)

In [169]:
preds = [pd.DataFrame(c),pred]
pred = pd.concat(preds,1)

In [170]:
pred.columns = ['id','label']

In [171]:
pred

          id  label
0          1      1
1          2      0
2          3      0
3          4      1
4          5      1
5          6      0
6          7      1
7          8      1
8          9      0
9         10      0
10        11      0
11        12      0
12        13      0
13        14      1
14        15      1
15        16      1
16        17      1
17        18      0
18        19      1
19        20      0
20        21      0
21        22      1
22        23      0
23        24      0
24        25      0
25        26      1
26        27      0
27        28      0
28        29      1
29        30      1
...      ...    ...
12470  12471      0
12471  12472      1
12472  12473      0
12473  12474      1
12474  12475      1
12475  12476      0
12476  12477      1
12477  12478      0
12478  12479      1
12479  12480      1
12480  12481      0
12481  12482      1
12482  12483      0
12483  12484      0
12484  12485      1
12485  12486      1
12486  12487      0
12487  12488      1
12488  12489      0
12489  12490      0
12490  12491      1
12491  12492      1
12492  12493      0
12493  12494      1
12494  12495      1
12495  12496      1
12496  12497      1
12497  12498      0
12498  12499      0
12499  12500      1

[12500 rows x 2 columns]

In [172]:
os.chdir('E:\\Projects\\Cats and Dogs')

In [173]:
pred.to_csv('sample_submission.csv',index=False)